# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix will keep dependencies in.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to use them for caching.
.fetch

# If the crash dump project is generated, it will be written here.
erl_crash.dump

# Also ignore archive artifacts (e.g. from mix archive.build).
*.ez

# Ignore package tarball.
plexus-*.tar
